Package: TPhotos
Section: java
Priority: optional
Architecture: all
Description: manage photos,
 gestion simplifiée de photos
 création d'album
 visualisation et exportation.
Version: 3.01
Depends: default-jre | default-jdk
Maintainer: TPhotos Team <pas66430@free.fr>
Homepage: http://pas66430.free.fr/TPhotos
Bugs: by mail only

